body {
    width: 100%;
    height: 100%;
    background-image: url('../fridge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

.header-1 {

    text-align: center;
    margin-top: 90px;
    font-size: 4.4vw;
    letter-spacing: 3px;
    font-family: Arial Rounded MT Bold;
    -webkit-text-stroke-color:solid silver;
}

#headerTwo {
    display: block;
    margin-top: 30px;
    font-size: 3.5vw;
    justify-content: center;
    font-family: Arial Rounded MT Bold;
    text-align: center;
    color:rgb(209, 129, 206);
}


.form-input {
    width: 100% !important;
    text-align: center;
    margin-top: 48px;
    padding: 35px;
    font-size: 35px;
    color: silver;
    letter-spacing: 3px;
    font-family: Arial Rounded MT Bold;
    border: 15px solid rgb(100, 97, 97);
    justify-content: center;
}

.form {
    width: 60.5% !important;

}

.container {
    border: 1px solid rgb(45, 144, 169);
    justify-content: center;
    background-attachment: local;

}

#card-container {
    display: inline-flex;

}

.row {
    border: 1px solid red;
    justify-content: center;
}



h1 {
    font-family: Arial Rounded MT Bold;
    font-size: x-large;
    color: white;
    padding: 10%;
    background-color: silver;
    height: 25%;

}

h2 {

    font-family: Arial Rounded MT Bold;
    color: white;
    padding: 10%;
    background-color: silver;
    font-size: medium;

}

p {
    height: 25%
}

.nutrition {
    padding: 10%;
    height: 25%;
    color: silver;
}

#recipeOne {
    color: rgb(209, 129, 206);
    font-size: 16px;
}

#recipeTwo {
    color: cornflowerblue;
    font-size: 16px;

}

#recipeThree {
    color: rgb(236, 225, 75);
    font-size: 16px;


}

.imageRecipe {
    width: 100%;

}

input.text {
    color: silver;
    text-align: left;
}

.search {
    color: silver;
    text-align: center;

}

#searchBtn {
    font-size: 50%;
    color: white;
    background-color: cornflowerblue;
    border: solid;
    border-color: silver;

}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    display: inline-flex;
    background-color: transparent;
    width: 230px;
    height: 400px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid silver;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: rgb(247, 245, 245);


}

/* Style the back side */
.flip-card-back {
    background-color: rgb(248, 249, 251);
    color: white;
    transform: rotateY(180deg);
}